# Gradle
.gradle
/build/
**/build/

# Local properties
/local.properties

# IDE files
.idea/
*.iml

# macOS
.DS_Store

# Android Studio captures
/captures

# Native builds
.externalNativeBuild
.cxx

**/google-services.json




